@charset "UTF-8";

#logopagina{
    width: 190px;
    height: 190px;
}

header{
    background: #ACE6FE;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px; /*Essa largura é "padrão" usado na web porque a maioria das boas resoluções são de 1260px de largura, usando esse valor estamos numa boa margem.*/
    margin: 0 auto;
}

nav{
   position: absolute; 
   top: 90px;
   right: 0;
}

nav li{
    display: inline; /*Uso para alterar o estilo "block" das listas para que fiquem lado a lado.*/
    margin: 0 0 0 15px;
}

nav a{ /*Vou alterar porque não é "legal" deixar os nomes dos conteúdos das listas em caixa alta no HTML. Eu altero visualmente apenas no CSS.*/
   text-transform: uppercase; /*A propriedade "text-transform" é a responsável pela transformação do texto para maiúsculo, quando usamos o valor "uppercase"*/
   color: #225378;
   font-weight: bold; /*A propriedade "font-weight" serve para alterar o peso da fonte, inclusive para negrito, com o valor "bold".*/
   font-size: 20px;
   text-decoration: none; /*Serve para alterar a propriedade de exibição de um link. Quando uso o valor "none" quer dizer que ele não será sublinhado.*/ 
}

